- var bodyClass = [ format ]
- var addr      = contact.addr
- var emailUrl  = "mailto:" + contact.email

mixin recursiveList(l)
  if l
    ul
      each item in l
        if typeof(item) === 'string'
          li #{item}
        else
          +recursiveList(item)

doctype html

html
  head
    title Resume of #{contact.name}
    style
      include ./style/style.css

  body(class=bodyClass)
    div
      // Header: 3-column table with contact | intro | keywords
      table#header
        tr
          td.header-contact
            div.name= contact.name
            div.email
              a(href=emailUrl) #{contact.email}
            div.phone= contact.phone

          td.header-intro
            if intro
              = intro

          td.header-keywords
            table#categories
              thead
                tr
                  th(colspan=Object.keys(keywords).length) A Few Of My Favorite ...
                tr
                  each category, categoryName in keywords
                    th.category-name #{categoryName}
              tbody
                - var maxLength = Math.max(...Object.values(keywords).map(arr => arr.length))
                - for (var i = 0; i < maxLength; i++)
                  tr
                    each category, categoryName in keywords
                      td.keyword-item= category[i] || ''

      // Single job history table with 3 columns: dates | header | content
      div#experience
        table#positions
          each job in positions
            tr.position
              td.timeline
                if job.from
                  div.dates #{job.to}
                  div.dash to
                  div.dates #{job.from}

              td.job-header
                div.company #{job.company}

                if job.group
                  div.group #{job.group}

                if job.title
                  div.title #{job.title}

              td.job-content
                if job.summary
                  div.summary= job.summary

                if job.delivered
                  +recursiveList(job.delivered)

      // div#footer
      //   div Updated #{updated}
      //   div Generated #{generated}
